footer {
    .center();
    width: 100%;
    border-top: 2px solid @main-color;
    background: @main-color;
    
    img {
        width: 10%;
        padding: 20px;

        @media @phone {
            width: 20%;
        }
    }
  }